In [130]:
import pandas as pd
import numpy as np

In [131]:
ds= pd.read_csv('/content/drive/MyDrive/car_evaluation.csv',header=None)
ds.head()

       0      1  2  3      4     5      6
0  vhigh  vhigh  2  2  small   low  unacc
1  vhigh  vhigh  2  2  small   med  unacc
2  vhigh  vhigh  2  2  small  high  unacc
3  vhigh  vhigh  2  2    med   low  unacc
4  vhigh  vhigh  2  2    med   med  unacc

In [132]:
ds.columns = ['buying', 'maint', 'doors', 'persons', 'lugboot', 'safety', 'label']

In [133]:
ds.head()

  buying  maint doors persons lugboot safety  label
0  vhigh  vhigh     2       2   small    low  unacc
1  vhigh  vhigh     2       2   small    med  unacc
2  vhigh  vhigh     2       2   small   high  unacc
3  vhigh  vhigh     2       2     med    low  unacc
4  vhigh  vhigh     2       2     med    med  unacc

In [134]:
import re
def buy(x):
  if x == "vhigh":
    return "4"
  elif x=="high":
    return "3" 
  elif x=="med":
    return "2"
  elif x== "low":
    return "1"

ds['buying']=ds['buying'].apply(lambda x : buy(x))
ds['maint']=ds['maint'].apply(lambda x : buy(x))

In [135]:
import re
def doors(x):
  if x== "2":
    return "2"
  elif x== "3":
    return "3"
  elif x=="4":
    return "4"
  elif x == "5more" or x=="more":
    return "5"
ds['doors']=ds['doors'].apply(lambda x : doors(x))
ds['persons']=ds['persons'].apply(lambda x: doors(x))

In [136]:
def lug_saf(x):
  if x== "small"or x=="low":
    return "1"
  elif x== "med":
    return "2"
  elif x=="high" or x=="big":
    return "3"

ds["lugboot"]=ds["lugboot"].apply(lambda x: lug_saf(x))
ds["safety"]=ds["safety"].apply(lambda x: lug_saf(x))

In [137]:
def label(x):
  if x=="unacc":
    return "1"
  elif x=="acc":
    return "2"
  elif x=="good":
    return "3"
  elif x=="vgood":
    return "4"
ds["label"]=ds["label"].apply(lambda x: label(x))

In [138]:
ds.head(100)

   buying maint doors persons lugboot safety label
0       4     4     2       2       1      1     1
1       4     4     2       2       1      2     1
2       4     4     2       2       1      3     1
3       4     4     2       2       2      1     1
4       4     4     2       2       2      2     1
..    ...   ...   ...     ...     ...    ...   ...
95      4     4     5       4       2      3     1
96      4     4     5       4       3      1     1
97      4     4     5       4       3      2     1
98      4     4     5       4       3      3     1
99      4     4     5       5       1      1     1

[100 rows x 7 columns]

In [139]:
Y = ds['label']
X = ds.drop(['label'], axis=1)

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X,Y, test_size=0.3, random_state=5)

In [140]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(1209, 6)
(519, 6)
(1209,)
(519,)

Support Vector Machine

In [141]:
from sklearn import svm
from sklearn.metrics import accuracy_score

model_svm=svm.SVC(kernel='linear')
model_svm.fit(X_train,y_train)

X_train_prediction=model_svm.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,y_train)

In [142]:
print("training_accuracy is ", training_data_accuracy )

training_accuracy is  0.8792390405293631

In [143]:
X_test_prediction=model_svm.predict(X_test)
test_data_accuracy=accuracy_score(X_test_prediction,y_test)

In [144]:
print("test_accuracy is ", test_data_accuracy )

test_accuracy is  0.8631984585741811

In [145]:
from sklearn .metrics import classification_report
print(classification_report(y_test,X_test_prediction))

              precision    recall  f1-score   support

           1       0.89      0.94      0.92       368
           2       0.76      0.63      0.69       119
           3       0.70      1.00      0.82        14
           4       1.00      0.78      0.88        18

    accuracy                           0.86       519
   macro avg       0.84      0.84      0.83       519
weighted avg       0.86      0.86      0.86       519

Logistic Regression

In [146]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, recall_score, precision_score, f1_score 

model_LR = LogisticRegression()

model_LR = model_LR.fit(X_train, y_train)

score = model_LR.predict(X_train)


print("Training Score: ", model_LR.score(X_train, y_train))
print("Testing Score:  ", model_LR.score(X_test, y_test))

Training Score:  0.8544251447477254
Testing Score:   0.8458574181117534

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [147]:
pred = model_LR.predict(X_test)
#print("Model Accuracy is : ", pred)

In [148]:
accuracy_score(y_test, pred)

0.8458574181117534

In [149]:
from sklearn .metrics import classification_report
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           1       0.89      0.94      0.91       368
           2       0.72      0.61      0.66       119
           3       0.53      0.57      0.55        14
           4       0.93      0.72      0.81        18

    accuracy                           0.85       519
   macro avg       0.77      0.71      0.73       519
weighted avg       0.84      0.85      0.84       519

Random Forest Classifier

In [150]:
from sklearn.ensemble import RandomForestClassifier
model_RF= RandomForestClassifier()

model_RF.fit(X_train,y_train)

X_train_prediction=model_RF.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,y_train)

In [151]:
print("training_accuracy is ", training_data_accuracy )

training_accuracy is  1.0

In [152]:
X_test_prediction=model_RF.predict(X_test)
test_data_accuracy=accuracy_score(X_test_prediction,y_test)

In [153]:
print("test_accuracy is ", test_data_accuracy )

test_accuracy is  0.9633911368015414

In [154]:
from sklearn.metrics import classification_report
print(classification_report(y_test,X_test_prediction))

              precision    recall  f1-score   support

           1       0.99      0.98      0.98       368
           2       0.92      0.94      0.93       119
           3       0.78      1.00      0.88        14
           4       1.00      0.83      0.91        18

    accuracy                           0.96       519
   macro avg       0.92      0.94      0.92       519
weighted avg       0.97      0.96      0.96       519